<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="cs">

    <head>

        <!-- {% include "head.html" %} -->

        <title>Putování brnem IV.</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="icon" href="static/images/logo.png" type="image/x-icon">

        <link href="static/css/style.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{% static '/css/style.css' %}"> -->

    </head>

    <body>
        
        <header>
            <img src="static/images/Putovani-Brnem-IV.webp" class="max">
            <img src="static/images/Putovani-Brnem IV-mini.webp" class="mini">
        </header>

        <main>
            <section>
                <h1>Vítej člověče</h1>
                <aside>
                    <h3>Pravidla</h3>
                    <p>Setkáváme se po čtvrté, ale letos trošku jinak.</p>
                    <p>Pravidla jsou jednoduchá, tak dávej pozor.</p>
                    <p>Hrát může ten, kdo byl na eventu.<br> <!--kontrola s logbookem-->
                        Na každém eventu, dostaneš heslo k danému kolu.<br>
                        V každém kole tě čeká úkol, který je jednoduchý, ale na čas.<br>
                        Takže jakmile zadáš svůj nick, heslo a dáš „start“, začne běžet čas.<br> <!--nick může být zadán jen jednou-->
                        Máš pouze 3 pokusy a 24 hodin na zdolání kola.</p>
                    <p>Samozřejmně tvé výsledky budou zaznamenány v tabulce a na konci série se vyhlásí nejlepší z nejlepších.</p>
                    <hr>
                    <p>Ovšem pokud chceš mít i <strong>FTF</strong>, tak podmínky jsou následující:</p>
                        <ul>
                            <li>musí ti stačit 1 pokus</li>
                            <li>každé kolo má určitý čas k dosažení FTF</li>
                        </ul> 
                        <p>... takže výsledek se dozvíš až po dohrání.</p>
                </aside>
                
            </section>

            <section>
                <table>
                    <tbody>
                        <tr>
                            <th>KOLO</th>
                            <th>HRA</th>
                            <th>VÝSLEDKY KOLA</th>
                            <th>EVENT</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>www</td>
                            <td><a href="">výsledky</a></td>
                            <td>gc</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <footer>

        </footer>

    </body>
</html>