<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="cs">

    <head>

        <!-- {% include "head.html" %} -->

        <title>Putování brnem IV.</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="icon" href="../images/logo.png" type="image/x-icon">

        <link href="../css/style.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{% static '/css/style.css' %}"> -->

    </head>

    <body>
        
        <header>
            <img src="../images/Putovani-Brnem-IV.webp" class="max">
            <img src="../images/Putovani-Brnem IV-mini.webp" class="mini">
        </header>

        <main>
            <section>
                <h1>Kolo #1</h1> <!--zautomatizovat kola-->
                <form>
                    <div class="grid">
                        <label for="nick">Zadej svůj nick: </label>
                        <input type="text">
                    </div>
                    <div class="grid">
                        <label for="password">Zadej heslo: </label>
                        <input type="text">
                    </div>
                    <button type="button">START</button>
                </form>
            </section>
        </main>

        <!-- {% include "footer.html" %} -->

        <footer>
            <div class="container">
                <p class="copyright">
                    <span>&copy;
                        <span id="displayDateYear"></span>
                        <a href="https://mar6wen8.github.io/MarWen" target="_blank" class="email">MarWen</a>
                    </span> 
                </p>
            </div>
        </footer>

        <script src="../js/script.js"></script>
        <!-- <script src="{% static '/js/script.js' %}"></script> -->

    </body>
</html>